<div class="container">
  <div class="text-container">
    <h1>About</h1>
    <p>After dedicating four years to the esports industry, I felt the pull toward a career path that had always fascinated me: programming.</p>
    <p>I became a part of the innovative learning community at 42, renowned for its project-based educational approach. I finished the core curriculum in 4th place out of 152 in my prom.</p>
    <p>My immediate goal is to specialize in web development.</p>
  </div>
  <div class="rss-container">
    <img class="icons" alt="github-icon" ngSrc="assets/icons/github.svg" width="32" height="32" (click)="onOpenRss('github')">
    <img class="icons" alt="linkedin-icon" ngSrc="assets/icons/linkedin.svg" width="32" height="32" (click)="onOpenRss('linkedin')">
    <img class="icons" alt="twitter-icon" ngSrc="assets/icons/twitter.svg" width="32" height="32" (click)="onOpenRss('twitter')">
  </div>
  <div class="cv" (click)="openCV()">
    <p>Open CV</p>
  </div>
  <img class="img" alt="about-img" ngSrc="assets/about-me-bw.webp" width="670" height="670" priority>
</div>
