
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-background);
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
}
p, h1, h2{
  color: white;
  font-family: "Barlow", sans-serif;
}

:root{
  --main-background: #0C0C0C;
  --ligher-background: #32323D;
}

.anim-out {
  animation: out 0.5s ease-in-out forwards;
}
.anim-in {
  animation: in 1.5s ease-in-out forwards;
}

@keyframes in {
  100% {
  filter: blur(0px);
  opacity: 1;
}
}
@keyframes out {
  100% {
  filter: blur(12px);
  opacity: 0;
}
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.focus-in {
	animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.heartbeat {
	animation: heartbeat 2.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.94);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.flip{
	animation: flip 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip{
  0% {
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
}

.flip-reverse{
	animation: flip-rev 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip-rev{
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  100% {
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
}

.snack-bar-custom{
  font-size: 1.1rem;
  font-family: "Barlow";
  font-weight: 700;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-shadow-pop-tr {
	animation: text-shadow-pop-tr 0.6s both;
}
@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #555555, -2px -2px #555555, -3px -3px #555555, -4px -4px #555555, -5px -5px #555555, -6px -6px #555555, -7px -7px #555555, -8px -8px #555555;
    transform: translateX(8px) translateY(8px);
  }
}



.blur-out {
	animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
    opacity: 1;
  }
  100% {
    filter: blur(12px) opacity(0%);
    opacity: 0;
  }
}

.blur-in{
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

