/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-background);
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
}
p, h1, h2{
  color: white;
  font-family: "Barlow", sans-serif;
}

:root{
  --main-background: #0C0C0C;
  --ligher-background: #32323D;
}

.anim-out {
  animation: out 0.5s ease-in-out forwards;
}
.anim-in {
  animation: in 1.5s ease-in-out forwards;
}

@keyframes in {
  100% {
  filter: blur(0px);
  opacity: 1;
}
}
@keyframes out {
  100% {
  filter: blur(12px);
  opacity: 0;
}
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.focus-in {
	animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.heartbeat {
	animation: heartbeat 2.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.94);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.flip{
	animation: flip 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip{
  0% {
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
}

.flip-reverse{
	animation: flip-rev 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip-rev{
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  100% {
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }
}

