<div class="container">
  <div class="title-container">
    <h1>Tom Sorabella</h1>
    <h2>&nbsp;&nbsp;Student at 42</h2>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Passionate about code, especially webdev !</p>
  </div>
  <div class="link-container">
    <p>About</p>
    <p>Projects</p>
    <p>42 Projects</p>
  </div>
  <div class="rss-container">
    <img class="icons" ngSrc="assets/icons/github.svg" width="32" height="32" (click)="onOpenRss('github')">
    <img class="icons" ngSrc="assets/icons/linkedin.svg" width="32" height="32" (click)="onOpenRss('linkedin')">
    <img class="icons" ngSrc="assets/icons/twitter.svg" width="32" height="32" (click)="onOpenRss('twitter')">
  </div>
  <img class="img" ngSrc="assets/full-size-me.webp" width="1999 " height="1969" priority>
</div>
<app-background></app-background>
